* {
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #9bd2cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: none;
}

.button:hover {
    background-color: #ffa689;
}

.title {
    font-weight: 700;
    font-size: 40px;
}

.formtitle {
    font-weight: 300;
    font-size: 17px;
}


input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.choose-file{
    justify-items: center;
}