/* 通用樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    background: #fff;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
    scroll-behavior: smooth;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #9bd2cc;
}

.logo {
    font-size: 2em;
    color: #fff;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 6px 15px;
    scroll-padding-block-start: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active {
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #fff;
    padding: 100px;
}

#text {
    position: absolute;
    font-size: 2em;
    color: #4f4f4f;
}

.bg-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.welcome-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 100%;
    min-height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: #fff;
    position: relative;
}


#about img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /*圓角*/
    margin-bottom: 1.5em;
}

#about h2 {
    font-weight: 700;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

#about p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 300;
    margin-left: 2.5em;
}

.instagram {
    margin-left: 2.5em;
}

#about, #illustration {
    min-height: 100vh; /* 確保每個區塊至少占滿一屏高度 */
    margin: 0;
}

.illustration-container {
    background: #fff;
    position: relative;
}

#illustration {
    margin-bottom: 0   
}

#illustration h2 {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    border-radius: 4px;
    border-image-width: 400px;
}

.card .card-title {
    font-weight: bold;
    margin-top: 1rem;
}

#illustration, #photography {
    min-height: 100vh; /* 確保每個區塊至少占滿一屏高度 */
    margin: 0;
}

@media (max-width: 768px) {
    .parallax {
        padding: 3rem 0;
    }
}

#photography {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#photography h2 {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.carousel {
    height: auto; /* 讓旋轉木馬根據內容調整高度 */
}

#threeDwork {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#threeDwork  h2 {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}


#contact {
    padding: 5rem 0;
    background-image: url(/Portfolio/img/000033150031.png);
    margin-top: 50px;
}

#contact h2 {
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

#contact .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact .card img {
    border-radius: 4px;
}

#contact .card-title {
    font-weight: bold;
    margin-top: 1rem;
}


.custom-button {
    background-color: #9bd2cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color:#ffa689;
}


footer {
    background-color:#9bd2cc;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}


/* 初始狀態，讓元素不可見 */
.animate-on-scroll {
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    transform: translateY(20px); /* 預設向下偏移 */
  }
  
  /* 滾動進入視窗時的淡入效果 */
  .animate-on-scroll.fade-in {
    opacity: 1;
    transform: translateY(0); /* 回到原始位置 */
  }
  
  /* 滾動離開視窗時的淡出效果 */
  .animate-on-scroll.fade-out {
    opacity: 0;
    transform: translateY(20px); /* 再次偏移 */
  }